@model GoodTrip.Models.Passagem

@{
    ViewData["Title"] = "Comprar";
}

<h1>Comprar</h1>

<h4>Passagem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="preco" class="control-label">Preço</label>
                <input asp-for="preco" class="form-control" />
                <span asp-validation-for="preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Embarque" class="control-label"></label>
                <input asp-for="Embarque" class="form-control" />
                <span asp-validation-for="Embarque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desembarque" class="control-label"></label>
                <input asp-for="Desembarque" class="form-control" />
                <span asp-validation-for="Desembarque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_cliente_pass" class="control-label">Cliente</label>
                <select asp-for="Id_cliente_pass" class ="form-control" asp-items="ViewBag.Id_cliente_pass"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Comprar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
