<link rel="stylesheet" href="/css/home.css" />
<body>
	<div class="containers p-1">
		<div class="row">

			<div class="col-4">
				<div class="card" style="width:360px">
					<img class="card-img-top" src="https://i.imgur.com/lUn0j7O.jpg" alt="Ilhas maldivas" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Ilhas Maldivas</h4>
						<p class="card-text">Viagem para Ilhas Maldivas por apenas R$ 3499,90</p>
						<a asp-controller="Clientes" asp-action="Index" class="btn btn-primary">Comprar</a>
					</div>
				</div>
			</div>

			<div class="col-4">
				<div class="card" style="width:360px">
					<img class="card-img-top" src="https://i.imgur.com/GPfjrsA.jpg" alt="NY" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Nova York</h4>
						<p class="card-text">Viagem para Nova York por apenas R$ 4499,90</p>
						<a asp-controller="Clientes" asp-action="Index" class="btn btn-primary">Comprar</a>
					</div>
				</div>
			</div>

			<div class="col-4">
				<div class="card" style="width:360px">
					<img class="card-img-top" src="https://i.imgur.com/jrmmogJ.jpg" alt="Holanda" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Holanda</h4>
						<p class="card-text">Viagem para Holanda por apenas R$ 4400,00</p>
						<a asp-controller="Clientes" asp-action="Index" class="btn btn-primary">Comprar</a>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-4">
				<div class="card" style="width:360px">
					<img class="card-img-top" src="https://i.imgur.com/Q7quyWo.jpg" alt="Egito" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Egito</h4>
						<p class="card-text">Viagem para Egito por apenas R$ 2190,95</p>
						<a asp-controller="Clientes" asp-action="Index" class="btn btn-primary">Comprar</a>
					</div>
				</div>
			</div>

			<div class="col-4">
				<div class="card" style="width:360px">
					<img class="card-img-top" src="https://i.imgur.com/BEoCyX5.jpg" alt="Dubai" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Dubai</h4>
						<p class="card-text">Viagem para Dubai por apenas R$ 5339,90</p>
						<a asp-controller="Clientes" asp-action="Index" class="btn btn-primary">Comprar</a>
					</div>
				</div>
			</div>

			<div class="col-4">
				<div class="card" style="width:360px">
					<img class="card-img-top" src="https://i.imgur.com/z7teosV.jpg" alt="Bahamas" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Bhamas</h4>
						<pre class="card-text">Viagem para Bahamas por apenas R$ 4339,90</pre>
						<a asp-controller="Clientes" asp-action="Index" class="btn btn-primary">Comprar</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>
